.fill
  %aside.concerts_pane
    = image_tag "spinner.gif", class: "spinner"
    %ul.concerts.unstyled
  #map
  %aside.action_pane
    = link_to "#", class: "close_pane" do
      Fermer
      %span.fa.fa-chevron-up

- content_for :extra_js do
  :javascript
    window.loadVenues();

