.container-narrow
  .row-fluid
    .span12
      %h2
        Merci d'avoir ajouté un concert.

      %h3
        Passez une bonne fête de la musique !

      %p
        = link_to "Retour à la liste des concerts", "/"
